body {
    background: $light-sepia;
}

blockquote {
    background: $mid-sepia;
    padding: 5px 20px;
}

.highlight {
    padding: 5px 5px;
    margin: 0;
}

.navbar{
    background: $dark-sepia;
}

.jumbotron {
    background: $mid-sepia
}

.jumbotron-short{
    height: 18vh;
}

.jumbotron-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.product{
    border: 1px solid #000;
}

a:link, a:visited{
    color: $dark-sepia;
}

.date{
    color: $dark-sepia;
}
