---
layout: base
---

{% include short_banner.html %}

<div class="container py-2">
  <div class="row">
    <div class="col">
      {{ content }}
    </div>

    <div class="col-md-4">
      <h3> タグ一覧 </h3>
      {% for tag in site.tags %}

      {% assign flag = false %}
      {% for reserve_tag in site.data.news_tag %}
      {% if reserve_tag.name == tag[0] %}
      {% assign flag = true %}
      {% endif %}
      {% endfor %}

      {% if flag == false %}
      <p>{{ tag[0] }} ({{ tag[1] | size }})</p>
      {% endif %}

      {% endfor %}

    </div>
  </div>
</div>
