<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  <head>
    {%- include head.html -%}
  </head>

  <body style="padding-top:3.5rem;">
    {%- include header.html -%}

    {% if layout.header == "top" %}
      {%- include top_banner.html -%}
    {% else %}
      {%- include short_banner.html -%}
    {% endif %}

    <div class="container py-2">
      <div class="row">
        <div class="col">
          {{ content }}
        </div>

        {% if layout.header == "top" %}
          <div class="col-md-5 col-lg-4">
            {%- include sidebar.html -%}
          </div>
        {% endif %}
      </div>
    </div>

    {%- include footer.html -%}

  </body>
</html>
